#navbar {
    background-color: #264653;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    height: 50px;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: #2a9d8f;
}


.innerdiv {
    height: 300px;
    width: 200px;
    background-color: white;
    border-radius: 5%;
}

input {
    margin: 20px;
    border-radius: 10%;
}

a {
    color: white;
    margin: 30px;

}