* {
    color: pink;
}


h1 {
    color: red;
    text-align: center;
}

button {
    color: brown;
    background-color: burlywood;
}

body {
    background-color: #C7FFED;
}

p {
    text-align: start;
}