body {
    text-align: center;
}

h1 {
    font-size: 60px;
}

div {
    display: inline-block;
    border: 2px solid black;
    height: 100px;
    width: 150px;
}

#container {
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#box1 {
    background-color: aqua;
}


#box2 {
    background-color: brown;
}

#box3 {
    background-color: red;
}

#box4 {
    background-color: yellow;
}

#box5 {
    background-color: blueviolet;
    align-self: flex-end;
}