#inlinediv {
    display: inline;
    background-color: pink;
}

#blockdiv {
    display: block;
    background-color: aqua;
}

#blockbutton {
    display: block;
    background-color: burlywood;
    color: #000;
}